.errorMessage {
    border: 2px solid red;
    border-radius: 10px;
    background-color: rgb(222, 129, 129);
    max-width: 300px;
    text-align: center;
    font-weight: bold;
    padding: 0 10px 0 10px;
    margin: auto;
}